
@import "~bootstrap/scss/bootstrap";
$header-font: $bold-font;
$header-colour: $emperor;

h1 {
    font-family: $header-font;
    font-size: 48px;
    line-height: 1.25em;
    color: $header-colour;
}
h2 {
    font-family: $header-font;
    font-size: 36px;
    line-height: 1.25em;
    color: $header-colour;
}
h3 {
    font-family: $header-font;
    font-size: 28px;
    line-height: 1.25em;
    color: $header-colour;
}
h4 {
    font-family: $header-font;
    font-size: 24px;
    line-height: 1.375em;
    color: $header-colour;
}
h5 {
    font-family: $header-font;
    font-size: 20px;
    line-height: 1.375em;
    color: $header-colour;
}
h6 {
    font-family: $header-font;
    font-size: 18px;
    line-height: 1.375em;
    color: $header-colour;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 42px;
    }
}


img {
    width: auto;
}
