@font-face {
  font-family: 'icomoon';
  src: url('../resources/fonts/icomoon.eot?31svmk');
  src: url('../resources/fonts/icomoon.eot?31svmk#iefix') format('embedded-opentype'), url('../resources/fonts/icomoon.ttf?31svmk') format('truetype'), url('../resources/fonts/icomoon.woff?31svmk') format('woff'), url('../resources/fonts/icomoon.svg?31svmk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}