// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
@import "_custom-icons";

@font-face {
    font-family: 'aaux_nextbold';
    src: url('../resources/fonts/aauxnext-bd-webfont.woff2') format('woff2'), url('../resources/fonts/aauxnext-bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aaux_nextlight';
    src: url('../resources/fonts/aauxnext-lt-webfont.woff2') format('woff2'), url('../resources/fonts/aauxnext-lt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aaux_nextmedium';
    src: url('../resources/fonts/aauxnext-md-webfont.woff2') format('woff2'), url('../resources/fonts/aauxnext-md-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aaux_next_regularregular';
    src: url('../resources/fonts/aauxnext-rg-webfont.woff2') format('woff2'), url('../resources/fonts/aauxnext-rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$bold-font: 'aaux_nextbold';
$light-font: 'aaux_nextlight';
$medium-font: 'aaux_nextmedium';
$body-text: 'aaux_next_regularregular';