html, body {
	margin: 0;
	padding: 0;
	font-family: $body-text;
	color: #202020;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

p,
span {
	font-size: inherit;
	line-height: 1.375em;
	margin-bottom: 5px;
	color: inherit;

	&.strong {
		font-weight: 800;
	}

	&.semi-bold {
		font-weight: 600;
	}
	
	&.smaller {
		font-size: 12px;
	}

	&.underline {
		text-decoration: underline;
	}

	&.small {
		font-size: 14px;
	}

	&.smallest {
		font-size: 10px;
	}
}