
@mixin placeholder($color, $fz) {
    &::-webkit-input-placeholder { /* WebKit browsers */
        color: $color;
        font-size: $fz;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $color;
        font-size: $fz;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $color;
        font-size: $fz;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $color;
        font-size: $fz;
    }
  }