.uppercase {
	text-transform: uppercase;
}

// typography
.light {
	font-weight: 300;
}
.regular {
	font-weight: 400;
}
.medium {
	font-weight: 500;
}
.semibold {
	font-weight: 600;
}
.bold {
    font-weight: 700;
}


.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}
.hidden {
	display: none !important;
}




.flex {
    display: flex;
}
.flex-align-center {
    align-items: center;
}
.flex-justify-center {
    justify-content: center;
}
.flex-justify-start {
	justify-content: flex-start;
}
.flex-justify-end {
	justify-content: flex-end;
}
.flex-wrap {
    flex-wrap: wrap;
}


.responsiveImage {
	width: 100%;
	height: auto;
}



.responsiveVideo {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}
.responsiveVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.mobileOnly {
	display: none;
	
	@media (max-width: 767px) { display: block; }
}
.mobileOnly-i {
	display: none;
	
	@media (max-width: 767px) { display: inline; }
}
.mobileOnly-ib {
	display: none;
	
	@media (max-width: 767px) { display: inline-block; }
}
.mobileOnly-f {
	display: none;
	
	@media (max-width: 767px) { display: flex; }
}
.mobileOnly-if {
	display: none;
	
	@media (max-width: 767px) { display: inline-flex; }
}



.desktopOnly {
	 display: block; 
	 
	@media (max-width: 767px) { display: none; }
}
.desktopOnly-i {
	 display: inline; 
	 
	@media (max-width: 767px) { display: none; }
}
.desktopOnly-ib {
	 display: inline-block; 
	 
	@media (max-width: 767px) { display: none; }
}
.desktopOnly-f {
	 display: flex; 
	 
	@media (max-width: 767px) { display: none; }
}
.desktopOnly-if {
	 display: inline-flex; 
	 
	@media (max-width: 767px) { display: none; }
}


.w-100p {
	width: 100%;
}
.h-100p {
	height: 100%;
}

.row-eq-height .col > div:first-of-type{
	// height: 100%;

	@include media-breakpoint-down(md) {
		// height: auto;
	}
}

// alternative for .row-eq-height
// .row-height .col > div:first-of-type{
// 	height: 100%;

// 	@include media-breakpoint-down(md) {
// 		height: auto;
// 	}
// }

.nopadding{
	padding: 0 !important;
}

// richtext spacing for bullets

.ml-10 {
	margin-left: -10px;
}
.ml-20 {
	margin-left: -20px;
}

.ml-30 {
	margin-left: -30px;
}

.ml-40 {
	margin-left: -40px;
}

.ml-50 {
	margin-left: -50px;
}

.ml-60 {
	margin-left: -60px;
}



.text-darker {
	color: #000 !important;
}

.text-dark {
	color: #262626 !important;
}

.fz-12 {
	font-size: 12px !important;
}
.fz-14 {
	font-size: 14px !important;
}
.fz-16 {
	font-size: 16px !important;
}
.fz-20 {
	font-size: 20px !important;
}

.force-wrap {
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;  
}


.mt-52 {
	margin-top: 52px;
}
.mt-36 {
	margin-top: 36px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-24 {
	margin-top: 24px;
}
.mt-10 {
	margin-top: 10px;
}
.mb-24 {
	margin-bottom: 24px;
}

.mb-26 {
	margin-bottom: 26px;
}
.no-lh {
	line-height: 1;
}

span.strikethrough {
	text-decoration: line-through;
}

.elem-no-margin {
	margin-bottom: 0 !important;

	* {
		margin-bottom: 0 !important;
	}
}