.btn-aia {
    padding: 10px;
    color: $white;
    line-height: 1;
    display: inline-block;
    min-width: 150px;
    border: 0;
    text-transform: uppercase;
    font-family: $body-text;
    font-weight: bold;

    &:focus,
    &:focus-within,
    &:hover,
    &:active {
        outline: 0;
        border-color: transparent !important;
        box-shadow: none !important;
    }

    &.btn-primary,
    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
        background-color: $crimson !important;

        &:hover {
            background-color: $crimson;
            opacity: 0.8;
        }
    }
}


