.card-list {
    .card-list-item {
        -webkit-box-shadow: 0px 0px 35px -20px rgba(0,0,0,0.27);
        -moz-box-shadow: 0px 0px 35px -20px rgba(0,0,0,0.27);
        box-shadow: 0px 0px 35px -20px rgba(0,0,0,0.27);
        padding: 40px 20px;
        flex: calc((100%/3) - 10px);
        max-width: calc((100%/3) - 10px);
        margin-right: 15px;
        margin-bottom: 40px;

        &:nth-child(3n) {
            margin-right: 0px;
        }

        .card-item-img-container {
            display: inline-block;
            vertical-align: top;
            margin-right: 20px;
            width: 50px;

            img{
                max-width: 74px;
                max-height: 74px;
                width: 100%;
            }
        }

        .card-item-desc-container {
            display: inline-block;
            width: calc(100% - 75px);

            ul.item-desc-dets {
                list-style: none;
                padding: 0;

                li {
                    font-size: 15px;
                    line-height: 1.25;
                }
            }
        }
    }
}

@media (max-width: 990px) {
    .card-list {
        .card-list-item {
            flex: 100%;
            max-width: 100%;
            margin-right: 0px;
        }
        .card-item-img-container,
        .card-item-desc-container {
            display: block;
        }
    }
}