$border-color : $silver; /* #bfbfbf */
$label-color: $dove-gray; /* #737373 */
$text-color: $dusty-gray; /* #999999 */
$error-color: $red; /* #e10000 */
$group-title-color: $black-two; /* #262626 */
$disabled: $mercury; /* #e5e5e5 */


.dropdown-select {
    @extend .form-element;
}
.dropdown {
    background: #fff;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    width: 100% !important;
}
.bootstrap-select.btn-group .dropdown-menu li a {
    color: $dusty-gray;
}
.bootstrap-select.btn-group .dropdown-menu li:hover a { 
    color: $dove-gray;
}
.bootstrap-select {
    .dropdown-toggle {
        border: 1px solid $border-color;
        height: 40px;
        border-radius: 4px;
        padding-left: 14px;
        padding-top: 0;
        padding-bottom: 0;
        background: #fff;
        text-align: left;
        &.disabled {
            background-color: $disabled;
        }
        &:after {
            border-top: 0;
            border-right: 0;
            border-bottom: 0;
            border-left: 0;
            font-family: "Material Icons";
            content: "\E313";
            color: $text-color;
            position: absolute;
            font-size: 26px;
            top: 0;
            right: 30px;
        }
        &.btn:focus {
            box-shadow: none;
            outline: none !important;
        }
        .filter-option {
            font-size: 14px;
            color: $label-color;
        }
        span {
            // margin-bottom: 0;
            line-height: 1;
            display: inline !important;
        }
    }
    .dropdown-menu.open.show {
        box-shadow: 0 2px 4px 0 rgba(146, 146, 146, 0.5);
        border-color: #fff;
        .dropdown-menu.inner {
            display: block;
            max-height: 156px !important;
            li {
                a span.text {font-size: 14px;}
                a.opt, a {
                    display: block;
                    padding: 0 15px;
                    &:focus {
                        outline: 0;
                        background-color: #f4f4f4;
                    }
                    &:hover {
                        background-color: #f4f4f4;
                    }
                }
            }
            .divider {
                margin-bottom: 10px;
            }
            .dropdown-header {
                padding: 0 15px;
                span {
                    font-size: 16px;
                    font-weight: bold;
                    color: $group-title-color;
                }
            }
        }
    }
}

.js-card-filter-dropdown {
    display: block;
}