nav {
    &.aia-navbar {
        background: $crimson;
        padding: 0 45px;

        .nav-logo {
            margin-right: 145px;

            img{
                max-width: 45px;
            }
        }

        .navbar-nav ul{
            margin-bottom: 0;

            .nav-item {
                width: 145px;
                padding: 20px 15px;
                display: table-cell;
                vertical-align: middle;

                &:hover {
                    background-color: #b8123e;
                }
            }
            .nav-link {
                color: #fff;
                text-transform: uppercase;
                font-family: $bold-font;
                font-weight: 900;
                display: inline-block;
                font-size: 17px;
                line-height: 1;
                word-break: break-word;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}