<!DOCTYPE html>
<html lang="en">
<head>
	{{> _html-header title="Index" }}
</head>
<body>
	{{> _header }}

	<main>

		<div class="row-fluid fluid-section p-3" style="background: #faf9f3">
			<section class="container" >
				<h1 class="text-center">DISTRICT MANAGER</h1>
			</section>
		</div>

		<div class="row-fluid">
			<section class="container" style="padding: 70px 0 0;">
				
				<div class="row-fluid">
				<div class="col-6 ">
					<label>
					Select At Name
					</label>
					<select class="form-control form-control-sm col-lg-5 col-md-12 js-card-filter-dropdown">
						<option value="0" selected>All</option>
					</select>
				</div>
			</div>

			<div class="line-divider section mt-5 mb-5"><hr></div>

				<div class="d-flex flex-row flex-wrap card-list js-user-container">
					<article class="card-list-item">
						<div class="card-item-img-container">
							<img src="assets/userphoto-prime1.png">
						</div>
						<div class="card-item-desc-container">
							<h4 class="item-desc-title"> Tan Mei Mei </h4>
							<ul class="item-desc-dets">
								<li>
									Email: <strong>mel@gmail.com</strong>
								</li>
								<li>
									Mobile: <strong>0122121224</strong>
								</li>
								<li>
									Company: <strong>ABC Sdn. Bhd.</strong>
								</li>
								<li>
									Address: <strong>Jalan Ampang</strong>
								</li>
								<li>
									Website: <strong>abc.com.my</strong>
								</li>
							</ul>
						</div>
					</article>
					<article class="card-list-item">
						<div class="card-item-img-container">
							<img src="assets/userphoto-prime1.png">
						</div>
						<div class="card-item-desc-container">
							<h4 class="item-desc-title"> Tan Mei Mei </h4>
							<ul class="item-desc-dets">
								<li>
									Email: <strong>mel@gmail.com</strong>
								</li>
								<li>
									Mobile: <strong>0122121224</strong>
								</li>
								<li>
									Company: <strong>ABC Sdn. Bhd.</strong>
								</li>
								<li>
									Address: <strong>Jalan Ampang</strong>
								</li>
								<li>
									Website: <strong>abc.com.my</strong>
								</li>
							</ul>
						</div>
					</article>
					<article class="card-list-item">
						<div class="card-item-img-container">
							<img src="assets/userphoto-prime1.png">
						</div>
						<div class="card-item-desc-container">
							<h4 class="item-desc-title"> Tan Mei Mei </h4>
							<ul class="item-desc-dets">
								<li>
									Email: <strong>mel@gmail.com</strong>
								</li>
								<li>
									Mobile: <strong>0122121224</strong>
								</li>
								<li>
									Company: <strong>ABC Sdn. Bhd.</strong>
								</li>
								<li>
									Address: <strong>Jalan Ampang</strong>
								</li>
								<li>
									Website: <strong>abc.com.my</strong>
								</li>
							</ul>
						</div>
					</article>
					<article class="card-list-item">
						<div class="card-item-img-container">
							<img src="assets/userphoto-prime1.png">
						</div>
						<div class="card-item-desc-container">
							<h4 class="item-desc-title"> Tan Mei Mei </h4>
							<ul class="item-desc-dets">
								<li>
									Email: <strong>mel@gmail.com</strong>
								</li>
								<li>
									Mobile: <strong>0122121224</strong>
								</li>
								<li>
									Company: <strong>ABC Sdn. Bhd.</strong>
								</li>
								<li>
									Address: <strong>Jalan Ampang</strong>
								</li>
								<li>
									Website: <strong>abc.com.my</strong>
								</li>
							</ul>
						</div>
					</article>
					<article class="card-list-item">
						<div class="card-item-img-container">
							<img src="assets/userphoto-prime1.png">
						</div>
						<div class="card-item-desc-container">
							<h4 class="item-desc-title"> Tan Mei Mei </h4>
							<ul class="item-desc-dets">
								<li>
									Email: <strong>mel@gmail.com</strong>
								</li>
								<li>
									Mobile: <strong>0122121224</strong>
								</li>
								<li>
									Company: <strong>ABC Sdn. Bhd.</strong>
								</li>
								<li>
									Address: <strong>Jalan Ampang</strong>
								</li>
								<li>
									Website: <strong>abc.com.my</strong>
								</li>
							</ul>
						</div>
					</article>
					<article class="card-list-item">
						<div class="card-item-img-container">
							<img src="assets/userphoto-prime1.png">
						</div>
						<div class="card-item-desc-container">
							<h4 class="item-desc-title"> Tan Mei Mei </h4>
							<ul class="item-desc-dets">
								<li>
									Email: <strong>mel@gmail.com</strong>
								</li>
								<li>
									Mobile: <strong>0122121224</strong>
								</li>
								<li>
									Company: <strong>ABC Sdn. Bhd.</strong>
								</li>
								<li>
									Address: <strong>Jalan Ampang</strong>
								</li>
								<li>
									Website: <strong>abc.com.my</strong>
								</li>
							</ul>
						</div>
					</article>
				</div>

			</section>
		</div>
		<hr/>
		<div class="container" style="padding: 50px 0;">
			<div class="row">
				<div class="col col-12">
					<label for="date">Date</label>
				</div>
				<div class="col col-3">
					<input type="date" name="date" class="form-control">
				</div>
				<div class="col col-9">
					<button class="btn-primary btn-aia js-convert-date">Convert</button>
				</div>
				<div class="col col-12 m-2">
					<strong>Converted Date: <span class="date-converted"></span></strong>
				</div>
			</div>
		</div>

	</main>
	<script src="js/testing-lib.js"></script>
</body>
</html>