<nav class="navbar navbar-expand-lg navbar-light aia-navbar">
    <div class="nav-logo">
        <a href="#">
            <img src="img/logo.png">
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="#">Our Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">AIA Vitality</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">What Matters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About <br/> AIA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help & Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My AIA</a>
                </li>   
            </ul>
        </div>
    </div>
</nav>