$highlight1: #00449d;
$highlight2: #0288d1;
$highlight3: #00d5ff;
$highlight4: #7ac138;
$highlight5: #8bc34a;
$highlight6: #ed138b;
$highlight7: #d81b60;

// color variables : I used http://chir.ag/projects/name-that-color/ for colour names :)
$dove-gray: #737373;
$dusty-gray: #999999;
$mercury: #e5e5e5;
$silver: #bfbfbf;
$black-two: #262626;
$mine-shaft: #262626;
$emperor: #554344;
$wild-sand: #f4f4f4;

/* aia colours palette */
$crimson: #d21046;
$emperor: #554344;


/* greyscale */

$hl_greyscale1: #000000;
$hl_greyscale2: #262626;
$hl_greyscale3: #505050;
$hl_greyscale4: #737373;
$hl_greyscale5: #999999;
$hl_greyscale6: #bfbfbf;
$hl_greyscale7: #e5e5e5;
$hl_greyscale8: #fafafa;
$hl_greyscale8: #ffffff;

/* warning */ 
$hl_warning: #ffad42;
$hl_warning_hover: #ff9129;

/* error */
$hl_error: #ff4813;
$hl_error_hover : #cc0000;